<launch>
  	<arg name="car_mode" default="mini_mec_six_arm"/>
    <arg name="moveit_num" value="six_arm"/>
	<!--RGB摄像头串口号-->
	<arg name="video_device" default="/dev/RgbCam"/>
	<!--机械臂起始关节序号-->
	<arg name="joint_num"  default="4"/>
	<!--判断是否开启虚拟机械臂 默认开启-->
	<arg name="moveit_config" default="true"/>
	<!--判断是否开启RGB相机 默认不开启-->
	<arg name="use_camera" default="false"/>
	<!--开启公共节点-->
	<arg name="pub_node" default="true"/>
	<!--是否关闭虚拟机械臂公共节点-->
	<arg name="voi_arm_1" default="false"/>
	<!--判断开启机械臂预设位置 -->
	<arg name="preset" default="false"/>
	<!--判断开启的功能 默认为false且参数不需要手动修改-->
	<arg name="if_cartesian_demo" default="false"/>
	<arg name="if_fk_demo" default="false"/>
	<arg name="if_ik_demo" default="false"/>
	<arg name="if_arm_pick_color" default="false"/>
	<arg name="if_arm_pick_dp" default="false"/>
	<arg name="if_test_param" default="false"/>
	<arg name="if_voice_control" default="false"/>
	<arg name="if_face_tracking" default="false"/>
	<arg name="if_color_tracking" default="false"/>
	<arg name="if_gesture_recognition" default="false"/>
	<arg name="if_color_hsv_adjust" default="false"/>
	<arg name="if_virtual_space_bostacle_avoidance" default="false"/>
	<arg name="arm_put" default="false"/>
	<!--demo参数赋值-->
	<arg if="$(eval if_cartesian_demo)" name="demo" value="$(arg moveit_num)_cartesian_demo"/>
	<arg if="$(eval if_fk_demo)" name="demo" value="$(arg moveit_num)_fk_demo"/>
	<arg if="$(eval if_ik_demo)" name="demo" value="$(arg moveit_num)_ik_demo"/>

<!--·······································公共节点区·······································-->
	<group if="$(arg pub_node)">
	<!--打开节点wheeltec_robot，初始化串口等操作-->
	<node pkg="wheeltec_arm_pick" type="wheeltec_$(arg moveit_num)" name="wheeltec_$(arg moveit_num)" output="screen" respawn="true">
		<param name="joint_num"          type="int"    value="$(arg joint_num)"/>
		<param name="usart_port_name"    type="string" value="/dev/wheeltec_controller"/>  
		<param name="serial_baud_rate"   type="int"    value="115200"/>
		<param name="robot_frame_id"     type="string" value="base_footprint"/>
		<param name="smoother_cmd_vel"   type="string" value="smoother_cmd_vel"/> 
		<param name="product_number"   type="int"    value="0"/>
	</node>
	</group>

	<!-- 开启虚拟机械臂  -->
	<include if="$(arg moveit_config)" file='/home/ubuntu/scd/src/wheeltec_arm/src/$(arg car_mode)_moveit_config/launch/demo.launch'>
		 <arg if="$(eval voi_arm_1==true and moveit_num=='six_arm')" name="voi_arm" value="false"/>
	</include>


   
	<!--开启控制机械臂抓取/放置色块的节点-->
	<node name="$(arg moveit_num)_control" pkg="wheeltec_arm_pick" type="arm_put" output="screen"/>
	
	   
</launch>



