# -*- coding: utf-8 -*-
#!/usr/bin/env python

PACKAGE = "wheeltec_arm_pick"

from dynamic_reconfigure.parameter_generator_catkin import *

vfp = ParameterGenerator()

# 黄色参数
vfp.add("yellow_h_min", int_t, 0, "Yellow H MIN", 20, 0, 180)
vfp.add("yellow_s_min", int_t, 0, "Yellow S MIN", 100, 0, 255)
vfp.add("yellow_v_min", int_t, 0, "Yellow V MIN", 100, 0, 255)
vfp.add("yellow_h_max", int_t, 0, "Yellow H MAX", 30, 0, 180)
vfp.add("yellow_s_max", int_t, 0, "Yellow S MAX", 255, 0, 255)
vfp.add("yellow_v_max", int_t, 0, "Yellow V MAX", 255, 0, 255)

# 蓝色参数
vfp.add("blue_h_min", int_t, 0, "Blue H MIN", 90, 0, 180)
vfp.add("blue_s_min", int_t, 0, "Blue S MIN", 100, 0, 255)
vfp.add("blue_v_min", int_t, 0, "Blue V MIN", 50, 0, 255)
vfp.add("blue_h_max", int_t, 0, "Blue H MAX", 130, 0, 180)
vfp.add("blue_s_max", int_t, 0, "Blue S MAX", 255, 0, 255)
vfp.add("blue_v_max", int_t, 0, "Blue V MAX", 255, 0, 255)

# 绿色参数
vfp.add("green_h_min", int_t, 0, "Green H MIN", 40, 0, 180)
vfp.add("green_s_min", int_t, 0, "Green S MIN", 70, 0, 255)
vfp.add("green_v_min", int_t, 0, "Green V MIN", 50, 0, 255)
vfp.add("green_h_max", int_t, 0, "Green H MAX", 80, 0, 180)
vfp.add("green_s_max", int_t, 0, "Green S MAX", 255, 0, 255)
vfp.add("green_v_max", int_t, 0, "Green V MAX", 255, 0, 255)

# 用户自定义参数
vfp.add("user_h_min", int_t, 0, "User H MIN", 77, 0, 180)
vfp.add("user_s_min", int_t, 0, "User S MIN", 52, 0, 255)
vfp.add("user_v_min", int_t, 0, "User V MIN", 5, 0, 255)
vfp.add("user_h_max", int_t, 0, "User H MAX", 165, 0, 180)
vfp.add("user_s_max", int_t, 0, "User S MAX", 255, 0, 255)
vfp.add("user_v_max", int_t, 0, "User V MAX", 255, 0, 255)

exit(vfp.generate(PACKAGE, "wheeltec_arm_pick", "Params_color"))
