<launch>
  <!-- 用于robot_state_publisher节点-->
  <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0 0 0 0 0 0 base_footprint base_link 100" />
  

    <!-- 用于雷达节点，后面同理不再赘述-->
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.06 0.00 0.20 3.14 0 0  base_footprint laser 100" />
    <!-- 用于摄像头相关节点，如3d建图导航，后面同理不再赘述-->
    <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0.12 0 0.15 0 0 0   base_footprint camera_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_to_gyro" args="0 0 0 0 0 0 base_footprint gyro_link 100" />
 
 
  <param name = "robot_description" textfile = "$(find turn_on_wheeltec_robot)/urdf/mini_mec_robot.urdf"/> 
  

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <!-- <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam> -->
    </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

 </launch>


